<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LiteTravel.web.mapper.BlogMapper">
    <select id="getAllBlog" resultMap="blogCollection">
        SELECT p.blog_id,
               blog_title,
               blog_post_time,
               blog_modify_time,
               blog_poster_id,
               blog_img_uri,
               blog_like_count,
               blog_comment_count,
               u.user_name blog_poster_name
        FROM travel_blog p,
             travel_user_info u
        WHERE p.blog_poster_id = u.user_id
    </select>
    <resultMap id="blogCollection" type="Blog">
        <id property="blogId" column="blog_id" jdbcType="INTEGER"/>
        <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
        <result property="blogPosterId" column="blog_poster_id" jdbcType="INTEGER"/>
        <result property="blogPosterName" column="blog_poster_name" jdbcType="VARCHAR"/>
        <result property="blogPostTime" column="blog_post_time" jdbcType="DATE"/>
        <result property="blogLikeCount" column="blog_like_count" jdbcType="INTEGER"/>
        <result property="blogCommentCount" column="blog_comment_count" jdbcType="INTEGER"/>
        <result property="blogImgUri" column="blog_img_uri" jdbcType="VARCHAR"/>
        <collection column="{blogId=blog_id}" property="blogTags" ofType="Tag" select="getAllTags"/>
    </resultMap>
    <select id="getAllTags" resultMap="tagCollection">
        SELECT t.tag_id, tag_name
        FROM travel_blog_tags bt, travel_tag t
        WHERE bt.tag_id = t.tag_id
        AND blog_id = #{blogId, jdbcType = INTEGER}
    </select>
    <resultMap id="tagCollection" type="Tag">
        <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getBlog" resultMap="blogCollection">
        SELECT *
        FROM travel_blog p
        WHERE p.blog_id = #{blogId}
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="blogId">
        INSERT INTO travel_blog(blog_title, blog_post_time, blog_modify_time, blog_poster_id,
                                blog_content, blog_img_uri, blog_like_count, blog_comment_count)
        VALUES (#{blogTitle}, #{blogPostTime}, #{blogModifyTime}, #{blogPosterId},
                #{blogContent}, #{blogImgUri}, #{blogLikeCount}, #{blogCommentCount})
    </insert>
</mapper>