<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LiteTravel.web.mapper.HotelExtMapper">
    <!-- 用来重新计算hotel评分, 但是在考虑是设计在前端还是后端好, 毕竟酒店数据管理是在后端实现的. -->
    <!-- 不过应该不影响，不管了，就放在前端吧 -->
    <update id="incReplyCount" parameterType="Hotel">
        UPDATE travel_hotel
        SET hotel_reply_count = hotel_reply_count + #{hotelReplyCount, jdbcType = INTEGER},
            hotel_reply_level =
                (hotel_reply_level * (1 - #{hotelReplyCount, jdbcType = INTEGER} / hotel_reply_count)
                                     + #{hotelReplyLevel}) / hotel_reply_count
        WHERE hotel_id = #{hotelId}
    </update>
</mapper>