<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LiteTravel.web.mapper.UserInfoMapper">
    <insert id="insertInfo" parameterType="UserInfo">
        INSERT INTO travel_user_info(user_id, username, avatarUri)
        VALUES (#{userId}, #{username}, '/avatar.jpg');
    </insert>
    <update id="updateUserInfo">
        UPDATE travel_user_info
        SET username = #{username},
            gender   = #{gender},
            birth    = #{birth},
            phone    = #{phone},
            email    = #{email},
            address  = #{address},
            avatarUri = #{avatarUri}
        WHERE user_id = #{userId};
    </update>
    <select id="findInfoById" resultType="UserInfo">
        SELECT *
        FROM  travel_user_info
        WHERE user_id = #{userId};
    </select>
</mapper>