<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelplatform.web.mapper.UserInfoMapper">
    <insert id="insertInfo">
        INSERT INTO travel_user_info(user_id, username)
        VALUES (#{userId}, #{username});
    </insert>
    <select id="findInfoById" resultType="UserInfo">
        SELECT *
        FROM  travel_user_info
        WHERE user_id = #{userId};
    </select>
</mapper>