<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BG</title>
</head>
<body>
<!-- 目前使用的模版的通用模板块，用于首页的背景图片展示板块。使用th:replace="~{common/BG::indexBG}" 用于首页的背景图片展示板块 -->
<div class="hero-wrap js-fullheight" th:style="'background-image:url(' + @{/img/bg_1.jpg} + ');'" th:fragment="indexBG">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
             data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left"
                 data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">探索 <br>新世界</h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">用最轻松的全面规划, 让旅行0负担!</p>
            </div>
        </div>
    </div>
</div>
<!-- 目前使用的模版的通用模板块，用于非首页的背景图片展示板块 使用th:replace="~{common/BG::sectionBG(sectionName=="XXX")}" sectionName为模块内需要使用到的必要参数, 具体赋值看内部构造 -->
<div class="hero-wrap js-fullheight" th:style="'background-image:url(' + @{/img/bg_1.jpg} + ');'" th:fragment="sectionBG">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a th:href="@{/index}">Home</a></span> <span th:text="${sectionName}"></span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" th:text="${sectionName}"></h1>
                <p th:if="${search != null && search.userId != null}">我的博客</p>
            </div>
        </div>
    </div>
</div>

<div class="hero-wrap js-fullheight" th:style="'background-image:url(' + @{/img/bg_1.jpg} + ');'" th:fragment="flightBG">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a th:href="@{/index}">Home</a></span> <span th:text="${sectionName}"></span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" th:text="机票预约"></h1>
                <p class="mb-3 bread"><span class="oi oi-bell"></span> 设置好您的出行需要, 我们就会帮您预约最合适的机票, 为您的出行节省更多的精力:)</p>
            </div>
        </div>
    </div>
</div>
<!--用户界面背景展示模版块-->
<div class="hero-wrap js-fullheight" th:style="'background-image:url(' + @{/img/bg_1.jpg} + ');'" th:fragment="userBG">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a th:href="@{/index}">Home</a></span> <span th:text="${userName}">TEST</span></p>
                <img th:src="@{'/img/' + ${avatar}}" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
                     class="align-self-center mr-3 rounded-circle" width="30%">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" th:text="${userName}"></h1>
                <p class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" th:text="个人信息页面"></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>