<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<!--删除用户提示的模态框-->
<!--使用方法 在模态框修改id，如id="deleteUserModal"，其余保持一致
----在按钮处使用 data-toggle="modal" data-target="#deleteUserModal"
----#deleteUserModal为模态框id
-->

<!-- 目前使用的模版的通用模板块，用于展示原模版中一直在页尾前出现的订阅板块 使用th:replace="~{commons/Footer::deleteModal}"  -->
<section class="ftco-section-parallax" th:fragment="deleteUserModal">
    <form method="post" th:action="@{/manage/deleteUser}" class="form-horizontal" role="form" id="delete_data" style="margin: 20px;">
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--弹窗标题-->
                        <h4 class="modal-title" id="deleteUser">
                            是否确认删除用户信息
                        </h4>
                        <!--弹窗右上角的关闭符号-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--deleteId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <!--隐藏用户id 再传输给后台-->
                                    <input type="hidden" class="form-control" id="deleteId" name="userId">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!--blog删除模态框-->
<section class="ftco-section-parallax" th:fragment="deleteBlogModal">
    <form method="post" th:action="@{/manage/deleteBlog}" class="form-horizontal" role="form" id="blog_data" style="margin: 20px;">
        <div class="modal fade" id="deleteBlogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--弹窗标题-->
                        <h4 class="modal-title" id="deleteBlog">
                            是否确认删除该条blog
                        </h4>
                        <!--弹窗右上角的关闭符号-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--deleteId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <!--隐藏用户id 再传输给后台-->
                                    <input type="hidden" class="form-control" id="deleteBlogId" name="blogId">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>


<!--编辑用户提示的模态框-->
<!--使用方法 在模态框修改id，如id="addUserModal"，其余保持一致
----在按钮处使用 data-toggle="modal" data-target="#editUserModal"
----#editUserModal为模态框id
-->
<!-- 用户信息编辑模态框示例（Modal） -->
<section class="ftco-section-parallax" th:fragment="addUserModal">
    <form method="post" th:action="@{/manage/user}" class="form-horizontal" onsubmit="return checkValid()" role="form" id="form_data" style="margin: 20px;">
        <input id="putMethod" name="_method" type="hidden" value="PUT" disabled>
        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            用户信息
                        </h4>
                        <button type="button" class="close" onclick="clearUser()" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--userId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" class="form-control" id="userId" name="userId">
                                </div>
                            </div>
                            <!--userCode-->
                            <div class="form-group form-inline">
                                <label for="userCode" class="col-sm-2 control-label">账号</label>
                                <input type="text" class="col-sm-9" id="userCode" name="userCode"
                                       placeholder="请输入用户账号(必填)">
                            </div>
                            <!--userPassword-->
                            <div class="form-group form-inline">
                                <label for="userPassword" class="col-sm-2 control-label">密码</label>
                                <input type="password" class="col-sm-9" id="userPassword" name="userPassword"
                                       placeholder="请输入用户密码(必填)">
                            </div>
                            <!--userName-->
                            <div class="form-group form-inline">
                                <label for="userName" class="col-sm-2 control-label">昵称</label>
                                <input type="text" class="col-sm-9" id="userName" name="userName"
                                       placeholder="请输入用户昵称(必填)">
                            </div>
                            <!--userBirth-->
                            <div class="form-group form-inline">
                                <label for="userBirth" class="col-sm-2 control-label">生日</label>
                                <input th:type="date" class="col-sm-9 checkin_date" id="userBirth" name="userBirth"
                                       placeholder="请输入生日(选填)">
                            </div>

                            <!--userEmail-->
                            <div class="form-group form-inline">
                                <label for="userEmail" class="col-sm-2 control-label">邮箱</label>
                                <input type="text" class="col-sm-9" id="userEmail" name="userEmail"
                                       placeholder="请输入邮箱(选填)">
                            </div>
                            <!--userPhone-->
                            <div class="form-group form-inline">
                                <label for="userPhone" class="col-sm-2 control-label">电话</label>
                                <input type="text" class="col-sm-9" id="userPhone" name="userPhone"
                                       placeholder="请输入电话(选填)">
                            </div>
                            <!--userAddressSpecific-->
                            <div class="form-group form-inline">
                                <label for="userAddressSpecific" class="col-sm-2 control-label">地址</label>
                                <input type="text" class="col-sm-9" id="userAddressSpecific" name="userAddressSpecific"
                                       placeholder="请输入地址(选填)">
                            </div>
                            <br/>


                        </form>
                    </div>
                    <div class="modal-footer">
                                                                                            <!--调用user.js方法-->
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearUser()">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button><span id="tip"> </span>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!--机票预约服务模态框-->
<section class="ftco-section-parallax" th:fragment="reserveModal">
    <form method="post"  class="form-horizontal" role="form" id="reserve_data" style="margin: 20px;">
        <div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--弹窗标题-->
                        <h4 class="modal-title" id="reserve">
                            请选择你的服务
                        </h4>
                        <!--弹窗右上角的关闭符号-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" th:onclick="clearTicketList()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-sm-9">
                            路线:<span id="flightFrom">*</span>——<span id="flightTo">*</span>
                            <br>
                            用户预计时间:<span id="Depart"></span>~<span id="arrived"></span>
                            <br>
                            乘坐人数:<span id="seats">*</span>
                            <br>
                            机舱级别:<span id="level"></span>
                        </div>
                        <form class="form-horizontal" role="form" method="post">
                            <!--seats-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" class="form-control" id="toSeats" name="toSeats">
                                </div>
                            </div>
                            <!--flightId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" class="form-control" id="flightId" name="flightId">
                                </div>
                            </div>
                            <!--companyIdId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" class="form-control" id="companyId" name="companyId">
                                </div>
                            </div>
                            <!--出发时间-->
                            <div class="form-group form-inline">
                                <label for="flightDepart" class="col-sm-3 control-label">出发时间</label>
                                <input  class="col-sm-9" id="flightDepart" name="userBirth"
                                       placeholder="请输入出发时间">
                            </div>
                            <!--到达时间-->
                            <div class="form-group form-inline">
                                <label for="flightArrived" class="col-sm-3 control-label">到达时间</label>
                                <input class="col-sm-9" id="flightArrived" name="flightArrived"
                                       placeholder="请输入到达时间">
                            </div>
                            <div class="form-group form-inline">
                                <label for="service" class="col-sm-3 control-label">提供的服务</label>
                                <textarea class="col-sm-9" id="service" name="service"
                                          placeholder="请输入服务"></textarea>
                            </div>
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>座位号&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</tr>
                                <tr>&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;票价</tr>
                                </thead>
                                <tbody id="ticketTbody">

                                </tbody>
                            </table>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:onclick="clearTicketList()">关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="submitReserve()">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!-- 删除机票预约模态框  -->
<section class="ftco-section-parallax" th:fragment="deleteFlightModal">
    <form method="post" th:action="@{/manage/deleteFlight}" class="form-horizontal" role="form" style="margin: 20px;">
        <div class="modal fade" id="deleteFlightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--弹窗标题-->
                        <h4 class="modal-title">
                            是否确认删除该行程
                        </h4>
                        <!--弹窗右上角的关闭符号-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--deleteId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <!--隐藏用户id 再传输给后台-->
                                    <input type="hidden" class="form-control" id="deleteFlightId" name="flightId">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!--机票服务编辑模态框-->
<section class="ftco-section-parallax" th:fragment="editReserveModal">
    <form method="post" th:action="@{/manage/updateReserve}" class="form-horizontal" onsubmit="return checkValid()" role="form" style="margin: 20px;">
        <div class="modal fade" id="editReserveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            用户信息
                        </h4>
                        <button type="button" class="close" onclick="clearReserve()" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--reserveId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" class="form-control" id="reserveId" name="reserveId">
                                </div>
                            </div>
                            <!--total-->
                            <div class="form-group form-inline">
                                <label for="userCode" class="col-sm-2 control-label">票价</label>
                                <input type="text" class="col-sm-9" id="total" name="total"
                                       placeholder="请输入票价(必填)">
                            </div>
                            <!--service-->
                            <div class="form-group form-inline">
                                <label for="userCode" class="col-sm-2 control-label">服务</label>
                                <textarea class="col-sm-9" id="_service" name="service"
                                          placeholder="请输入服务"></textarea>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--调用user.js方法-->
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearReserve()">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!--机票服务删除模态框-->
<section class="ftco-section-parallax" th:fragment="deleteReserveModal">
    <form method="post" th:action="@{/manage/deleteReserve}" class="form-horizontal" role="form" style="margin: 20px;">
        <div class="modal fade" id="deleteReserveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--弹窗标题-->
                        <h4 class="modal-title">
                            是否确认删除该服务
                        </h4>
                        <!--弹窗右上角的关闭符号-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--deleteId-->
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <!--隐藏用户id 再传输给后台-->
                                    <input type="hidden" class="form-control" id="deleteReserveId" name="reserveId">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

<!--酒店插入更新模态框-->
<section class="ftco-section-parallax" th:fragment="addHotelModal">
    <form method="post" th:action="@{/manage/hotel}" class="form-horizontal" role="form" id="hotel_data" style="margin:20px;">
        <input  id="putMe" name="_method" type="hidden" value="PUT" disabled>
        <div class="modal fade" id="addHotelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content" style="width: 160%;padding: 0 20%;">

                    <div class="modal-header">
                        <h4 class="modal-title">酒店信息</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post">
                            <!--hotelId-->
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input type="hidden" class="form-control" id="hotelId" name="hotelId">
                                </div>
                            </div>
                            <!--hotelName-->
                            <div class="form-group form-inline">
                                <label for="hotelName" class="col-sm-3 control-label">酒店名称</label>
                                <input type="text" class="col-sm-8" id="hotelName" name="hotelName" placeholder="请输入酒店名称（必填）" >
                            </div>
                            <!--hotelMinPrice-->
                            <div class="form-group form-inline">
                                <label for="hotelMinPrice" class="col-sm-3 control-label">最低价格</label>
                                <input type="text" class="col-sm-8" id="hotelMinPrice" name="hotelMinPrice" placeholder="请输入最低价格（必填）">
                            </div>
                            <!--hotelManagerId-->
                            <div class="form-group form-inline">
                                <label for="hotelManagerId" class="col-sm-3 control-label">经理编号</label>
                                <input type="text" class="col-sm-8" id="hotelManagerId" name="hotelManagerId" placeholder="请输入经理编号（必填）">
                            </div>
                            <!--hotelPhone-->
                            <div class="form-group form-inline">
                                <label for="hotelPhone" class="col-sm-3 control-label">酒店电话</label>
                                <input type="text" class="col-sm-8" id="hotelPhone" name="hotelPhone" placeholder="请输入酒店电话（必填）">
                            </div>
                            <!--hotelReplyLevel-->
                            <div class="form-group form-inline">
                                <label for="hotelReplyLevel" class="col-sm-3 control-label">酒店星级</label>
                                <input type="text" class="col-sm-8" id="hotelReplyLevel" name="hotelReplyLevel" placeholder="请输入酒店星级（必填）">
                            </div>
                            <!--hotelAddress-->
                            <div class="form-group form-inline">
                                <label for="hotelAddress" class="col-sm-3 control-label">地址编码</label>
                                <input type="text" class="col-sm-8" id="hotelAddress" name="hotelAddress" placeholder="请输入酒店地址（必填）">
                            </div>
                            <!--hotelAddressSpecific-->
                            <div class="form-group form-inline">
                                <label for="hotelAddressSpecific" class="col-sm-3 control-label">地址详情</label>
                                <input type="text" class="col-sm-8" id="hotelAddressSpecific" name="hotelAddressSpecific" placeholder="详细地址（默认）">
                            </div>
                            <!--hotelDescription-->
                            <div class="form-group form-inline">
                                <label for="hotelDescription" class="col-sm-3 control-label">酒店描述</label>
                                <input type="textarea" class="col-sm-8" id="hotelDescription" name="hotelDescription" placeholder="请输入酒店描述（选填）">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-default" onclick="clearHotel()">清空</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                        <spam id="tip"></spam>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!--酒店房间插入更新模态框-->
<section class="ftco-section-parallax" th:fragment="addRoomModal">
    <form method="post" th:action="@{/manage/room}" class="form-horizontal" role="form" id="roomData" >
        <input id="roomPutMethod" name="_method" type="hidden" value="PUT" disabled>
        <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">房间信息</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body form-row" style="font-size: 12px;">
                        <!--房间信息输入框-->
                        <form method="post">
                            <!--roomId-->
                            <div class="form-group">
                                <div >
                                    <input type="hidden" id="roomId" name="roomId">
                                </div>
                            </div>
                            <!--hotelId-->
                            <div class="form-group form-inline">
                                <span>请选择酒店ID</span>
                                <select id="hotelList" name="hotelId" style="margin-left:30px;height: 30px;width: 150px">
                                    <span th:each="hotel:${session.hotelList}">
                                        <option th:text="${hotel}"></option>
                                    </span>
                                </select>
                            </div>
                            <!--roomName-->
                            <div class="form-group col-md-8">
                                <label for="roomName">房间名称</label>
                                <input type="text" class="form-control"  style="font-size: 12px"
                                       id="roomName" name="roomName" placeholder="名称（必填）">
                            </div>
                            <!--roomPrice-->
                            <div class="form-group col-md-4">
                                <label for="roomPrice">房间价格</label>
                                <input type="text"  class="form-control" style="font-size: 12px"
                                       id="roomPrice" name="roomPrice" placeholder="价格（必填）">
                            </div>
                            <!--roomCancel-->
                            <div class="form-group col-md-4">
                                <label for="roomCancel" >roomCancel</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomCancel" name="roomCancel" placeholder="Cancel（选填）">
                            </div>
                            <!--roomSize-->
                            <div class="form-group col-md-4">
                                <label for="roomSize" >roomSize</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomSize" name="roomSize" placeholder="面积（必填）">
                            </div>
                            <!--roomWifi-->
                            <div class="form-group col-md-4">
                                <label for="roomWifi" >roomWifi</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomWifi" name="roomWifi" placeholder="wifi数量（选填）">
                            </div>
                            <!--roomRemaining-->
                            <div class="form-group col-md-4">
                                <label for="roomRemaining" >房间存余</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomRemaining" name="roomRemaining" placeholder="房间存余（选填）">
                            </div>
                            <!--roomMax-->
                            <div class="form-group col-md-4">
                                <label for="roomMax" >roomMax</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomMax" name="roomMax" placeholder="最大数量（必填）">
                            </div>
                            <!--roomBookMax-->
                            <div class="form-group col-md-4">
                                <label for="roomBookMax" >roomBookMax</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomBookMax" name="roomBookMax" placeholder="BookMax（选填）">
                            </div>

                            <!--roomDescription-->
                            <div class="form-group col-md-8">
                                <label for="roomDescription" >房间描述</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomDescription" name="roomDescription" placeholder="roomDescription（选填）">
                            </div>
                            <!--roomBedAdd-->
                            <div class="form-group col-md-4">
                                <label for="roomBedAdd" >roomBedAdd</label>
                                <input type="text" class="form-control" style="font-size: 12px"
                                       id="roomBedAdd" name="roomBedAdd" placeholder="roomBedAdd（必填）">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-default" onclick="clearRoom()">清空</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                        <spam id="tip"></spam>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!--房间床位插入删除模态框-->
<section class="ftco-section-parallax" th:fragment="roomBedModal">
    <form method="post" th:action="@{/manage/roomBed}" class="form-horizontal" role="form" >
        <input id="roomBedMethod" name="_method" type="hidden" value="PUT" disabled>
        <div class="modal fade" id="roomBedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">床位信息</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body" style="font-size: 16px;">
                        <!--输入框-->
                        <form method="post">
                            <div>
                                <span>房间编号：</span>
                                <span id="room_Id">*</span>
                            </div>
                            <div>
                                <span>请选择添加床位号</span>
                                <select name="bedId" id="bedId">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default" onclick="">清空</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </form>
                        <!--床位查看框-->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        <spam id="tip"></spam>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!--调用用户脚本-->
<th:block th:replace="~{commons/includes/common_js::common_js}" />
<script type="text/javascript" th:src="@{/js/manage.js}"></script>
</body>
</html>