<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>section</title>
</head>
<body>

<!-- 酒店展示单块 -->
<div th:fragment="hotelBlock"
     th:class="${isIndex}?'col-sm-12 col-md-6 col-lg ftco-animate':'col-sm-12 col-md-6 col-lg-4 ftco-animate'"
     th:each="hotel,stat:${hotels}">
    <div th:class="${isIndex}?(${stat.odd}?'destination':'destination d-md-flex flex-column-reverse'):'destination'">
        <a th:href="@{'/hotel/' + ${hotel.hotelId}}"
           class="img img-2 d-flex justify-content-center align-items-center"
           th:style="'background-image:url(' + @{'/img/' + ${hotel.hotelImgUri}} + ');'">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-link"></span>
            </div>
        </a>
        <div class="text p-3">
            <div class="d-flex">
                <div class="one">
                    <h3><a th:href="@{'/hotel/' + ${hotel.hotelId}}"
                           th:text="${hotel.hotelName}">New Orleans, Hotel</a></h3>
                    <!-- 评分(/评级?) -->
                    <p class="rate">
                        <!-- 评分星星展示 -->
                        <i class="icon-star"
                           th:if="${hotel.hotelReplyLevel}>0"
                           th:each="i:${#numbers.sequence(1, (hotel.hotelReplyLevel / 2))}">
                        </i><i class="icon-star-o"
                               th:if="${hotel.hotelReplyLevel}<10"
                               th:each="j:${#numbers.sequence(1, (5 - (hotel.hotelReplyLevel / 2)))}">
                    </i>
                        <span>[[${hotel.hotelReplyCount}]] Rating</span>
                    </p>
                </div>
                <div class="two">
                    <span class="price per-price">$[[${hotel.hotelMinPrice}]]<br><small>/night</small></span>
                </div>
            </div>
            <p class="textAutoCollapse" th:text="${hotel.hotelDescription}">Far far away, behind the word mountains, far from the countries</p>
            <span class="rowAutoCollapse"><i class="icon-map-o"></i> [[${hotel.hotelAddressString}]]</span>
            <hr>
            <div class="bottom-area">
                <a class="btn btn-default btn-primary" th:href="@{'/hotel/' + ${hotel.hotelId}}">Book Now</a>
            </div>
        </div>
    </div>
</div>

<!-- 订单展示单块 -->
<div th:fragment="orderBlock"
     class="col-sm-12 col-md-6 col-lg-4 ftco-animate"
     th:each="order,stat:${orders}">
    <div class="destination">
        <a th:href="@{'/order/' + ${order.orderId}}"
           class="img img-2 d-flex justify-content-center align-items-center"
           th:style="'background-image:url(' + @{'/img/' + ${order.hotelImgUri}} + ');'">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-link"></span>
            </div>
        </a>
        <div class="text p-3">
            <div class="d-flex">
                <div class="one">
                    <h3><a th:href="@{'/order/' + ${order.orderId}}"
                           th:text="${order.hotelName}">New Orleans, Hotel</a></h3>
                    <!-- 评分(/评级?) -->
                    <!--仅在已经离店并评价后展示评分-->
                    <p th:if="${order.status == '4'}" class="rate">
                        <!-- 评分星星展示 -->
                        <i class="icon-star"
                           th:if="${order.replyLevel}>0"
                           th:each="i:${#numbers.sequence(1, (order.replyLevel / 2))}">
                        </i><i class="icon-star-o"
                               th:if="${order.replyLevel}<10"
                               th:each="j:${#numbers.sequence(1, (5 - (order.replyLevel / 2)))}">
                    </i>
                        <span>查看评价</span>
                    </p>
                    <p>
                        <p><span>入住时间:</span>[[${#dates.format(order.checkIn, 'yyyy-M-d')}]]</p>
                        <p><span>离店时间:</span>[[${#dates.format(order.checkOut, 'yyyy-M-d')}]]</p>
                    </p>
                </div>
                <div class="two">
                    <span class="price per-price">总价$[[${order.total}]]<br>元</span>
                </div>
            </div>
            <hr>
            <!--各种状态切换按钮-->
            <div class="bottom-area" th:switch="${order.status}">
                <a th:case="'0'" class="btn btn-primary" th:href="@{'/order/' + ${order.orderId}}">支付</a>
                <a th:case="'1'" class="btn btn-outline-info" style="cursor:not-allowed">等待入住</a>
                <a th:case="'2'" class="btn btn-outline-info" style="cursor:not-allowed">已入住，未离店</a>
                <a th:case="'3'" class="btn btn-primary" th:href="@{'/order/reply/' + ${order.orderId}}">评价</a>
                <a th:case="'4'" class="btn btn-primary" th:href="@{'/order/' + ${order.orderId}}">详情</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="blogBlock"
     class="col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex ftco-animate"
     th:each="blog:${blogs}">
    <div class="blog-entry align-self-stretch defaultBlockWidth">
        <!-- 展示图片 -->
        <a th:href="@{'/blog/' + ${blog.blogId}}"
           class="block-20"
           th:style="'background-image: url(' + @{'/img/' + ${blog.blogImgUri}}+');'">
        </a>
        <!-- 文字概览区 -->
        <div class="text">
            <!-- 标签 -->
            <span th:if="${blog.blogTags != null}" class="tag"
                  th:text="${#strings.abbreviate(
                                         #strings.capitalize(
                                         #strings.arrayJoin(blog.blogTags, ', ')), 30)}">
                            Tips, Travel
                        </span>
            <!-- 标题 -->
            <h3 class="heading mt-3">
                <a th:href="@{'/blog/' + ${blog.blogId}}"
                   th:text="${#strings.abbreviate(
                                          #strings.capitalize(blog.blogTitle), 200)}">
                    8 Best homestay in Philippines that you don't miss out
                </a>
            </h3>
            <!-- 附属信息 -->
            <div class="meta mb-3">
                <!-- blog发布时间 -->
                <div>
                    <p class="blogCalender"
                       th:text="${#dates.monthName(blog.blogPostTime) + ' ' +
                                              #dates.day(blog.blogPostTime) + ', ' +
                                              #dates.year(blog.blogPostTime)}">
                        October 3, 2018</p>
                </div>
                <!-- blog发布人 -->
                <div>
                    <a th:href="@{'/user/' + ${blog.blogPosterId}}"
                       th:text="${blog.blogPosterInfo.userName}">Admin</a>
                </div>
                <!-- blog回复数
                     直接先跳转至博客页面
                -->
                <div class="float-right"><a th:href="@{'/blog/' + ${blog.blogId}}"
                                            class="meta-chat">
                    <span class="icon-chat"></span> [[${blog.blogCommentCount}]]</a>
                </div>
                <!-- todo
                        点赞数
                        可以直接发送点赞请求
                 -->
                <div class="float-right"><p class="meta-chat">
                    <span class="icon-thumb_up"></span> [[${blog.blogLikeCount}]]</p>
                </div>
                <div>
                    <!--
                        todo
                            编辑按钮
                            判断是否为登陆人发布的blog
                            若是, 则展示编辑按钮, 并跳转至编辑页面
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>