
.textAutoCollapse{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.rowAutoCollapse{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 150px;
}