.postBox{
    padding: 1rem 1rem 2rem 1rem !important;
}
.postContent{
    margin-top: 10px;
}
.postButton{
    margin: 10px;
}
.comment-list li .comment-body .reply .icon-thumb_up{
    color: #EF3159;
}
.comment-list li .comment-body .reply:hover {
    background-color: #2f89fc;
}