<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{::link})}">
    <title>轻旅·关于我们</title>
    <link rel="stylesheet" th:href="@{/css/testMap.css}"/>
</head>
<style type="text/css">
    #panel {
        position: absolute;
        background-color: white;
        max-height: 70%;
        overflow-y: auto;
        top: 10%;
        right: 10%;
        width: 200px;
    }
    #panel .amap-call {
        background-color: #009cf9;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    #panel .amap-lib-transfer {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
    }
</style>
<body>


<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='About')}"></div>
<!-- END nav -->

<div th:replace="~{commons/BG::sectionBG(sectionName='About')}"></div>
<section class="ftco-section js-fullheight">
    <div class="container">
        <div class="raw">
            <h1>地图导航</h1>
            <div id="container" style="margin: 3%; padding:5%;"></div>
            <div id="myPageTop">
                <form>
                    <label for="start">出发地点：</label>
                    <input id="start" class="guideKeyword"/>
                    <label for="end" class="guideKeyword">目的地:</label>
                    <input id="end"/>
                    <input type="submit" value="查询"/>
                </form>
            </div>

            <div id="panel"></div>
        </div>

    </div>
</section>


<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>

<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}" />
<!-- 加载地图JSAPI脚本 -->
<script th:src="@{/js/demoutils.js}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=a99cc603485f5da30cbe6ff47939ab23&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Transfer"></script>
<script type="text/javascript" th:src="@{/js/addToolbar.js}"></script>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom : 11, //初始化地图层级
        center: [116.397428, 39.90923] //初始化地图中心点, 可设置为东莞理工学院
    });
    var auto = new AMap.Autocomplete({
        input: "start"
    });
    var auto2 = new AMap.Autocomplete({
        input: "end"
    });

    var transOptions = {
        map: map,
        city: '北京市',
        panel: 'panel',
        policy: AMap.TransferPolicy.LEAST_TIME //乘车策略
    };
    //构造公交换乘类
    var transfer = new AMap.Transfer(transOptions);
    //根据起、终点名称查询公交换乘路线
    transfer.search([
        {keyword: '地震局',city:'北京'},
        //第一个元素city缺省时取transOptions的city属性
        {keyword: '望京西园4区',city:'北京'}
        //第二个元素city缺省时取transOptions的cityd属性
    ], function(status, result) {
        // result即是对应的公交路线数据信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_TransferResult
        if (status === 'complete') {
            log.success('绘制公交路线完成')
        } else {
            log.error('公交路线数据查询失败' + result)
        }
    });
</script>
</body>
</html>