<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{::link})}">
    <title>轻旅·博客</title>
    <link rel="stylesheet" th:href="@{/css/Blogs.css}">
</head>
<body>


<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='Blog')}"></div>
<!-- END nav -->


<div th:replace="~{commons/BG::sectionBG(sectionName='Blog')}"></div>
<!--
    todo
        博客列表
        Po和Mapper已经跟进,
        尚未测试是否可用,
        数据库尚未更新属性设计
 -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12">
                <div class="sidebar-wrap ftco-animate">
                    <form id="search" name="search" method="post" th:action="@{/blogs}">
<!--                        <input id="userId" name="userId" th:value="${session.user.userId}" hidden="hidden">-->
                        <div class="fields">
                            <div class="form-inline form-group">
                                <input type="hidden" id="userId" name="userId" th:value="${search != null && search.userId != null}?${search.userId}:null">
                                <input type="text" id="keyword" name="keyword"
                                       class="form-control col-lg-8 col-md-12 col-sm-12" placeholder="关键字搜索"
                                       th:value="${search != null}?${search.keyword}:null">
                                <input type="submit" value="搜索" class="btn btn-primary col-lg-2 col-md-12 col-sm-12 py-3">
                                <input type="button" value="重置" onclick="clearInput()"
                                       class="btn btn-info col-lg-2 col-md-12 col-sm-12 py-3"><!--使用js重置-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 博客展示单块 -->
            <div th:replace="~{commons/section::blogBlock}"></div>
        </div>
    </div>

    <!-- 页面导航栏 -->
    <div th:replace="~{commons/navigation::navigationBar(redirect = 'blogs')}"></div>
</section>


<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>

<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}"/>

<script type="text/javascript" th:inline="javascript">
    if ([[${search != null}]]){
        console.log("test");
        $(".navigationHref").click(function () {
            $('#search').attr('action',this.href);
            console.log("action is " +  this.href);
            this.href = "javascript:vo(0);";
            $('#search').submit();
            return false;
        });
    }
    function clearInput() {
        $('#keyword').val('')
    }
</script>

</body>
</html>