<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{})}">
    <title>轻旅·发布博客</title>
    <!--    <link rel="stylesheet" th:href="@{/css/publish.css}">-->
</head>
<body>

<div th:replace="~{commons/bar::topBar(activeUri='Blog')}"></div>
<!--发起博客-->
<!--标题，内容，标签，发起按钮-->
<div class="hero-wrap js-fullheight" th:style="'background-image:url(' + @{/img/bg_1.jpg} + ');'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-12 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a th:href="@{/index}">Home</a></span> <span><a th:href="@{/blogs}">Blog</a></span>
                </p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">发布文章</h1>
                <!--                <p class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Test</p>-->
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="row block-9">
                <div class="col-md-9 order-md-last pr-md-5">
                    <form method="post" th:action="@{/publish}">
                        <input name="_method" th:if="${blog}!=null" type="hidden" value="PUT">
                        <input name="blogId" th:if="${blog}!=null" type="hidden" th:value="${blog.blogId}">
                        <div class="form-group">
                            <h3>标题：</h3>
                            <input id="blogTitle" name="blogTitle" type="text" class="form-control" placeholder="输入标题" th:value="${blog != null && blog.blogTitle != null ? blog.blogTitle : ''}">
                        </div>
                        <!--                <input id="orderId" name="orderId" type="hidden" th:value="${order.orderId}">-->
                        <div class="form-group">
                            <!--使用插件，满足富文本输入需求-->
                            <h3>正文:</h3>
                            <div id="editor">
                                <div th:if="${blog != null && blog.blogContent != null}" th:utext="${blog.blogContent}"></div>
                            </div>
                            <textarea id="blogContent" name="blogContent" hidden="hidden" th:value="${blog != null && blog.blogContent != null ? blog.blogContent : ''}"></textarea>
                        </div>
                        <input id="blogTags" name="blogTags" type="text" hidden="hidden" th:value="${blog != null && blog.blogTags != null ? #strings.arrayJoin(blog.blogTags, ', ') : ''}">
                        <div class="form-group">
                            <input type="submit" value="发布" class="btn btn-primary py-3 px-5">
                        </div>
                        <hr>
                    </form>
                </div>
                <div class="col-md-3 order-md-last pr-md-5">
                    <!--发布文章右侧栏，做一些提醒和小工具-->
                    <!--封面图设置-->
                    <!--标签设置-->
                    <div id="publish-tags" class="form-group">
                        <div class="navbar-toggler"><span class="oi oi-tags"></span> 博客标签</div>
                        <hr/>
                        <input id="tagEditor" name="tagEditor" type="text" class="form-control-sm"
                               placeholder="输入标签, 以,分割" th:value="${blog != null && blog.blogTags != null ? #strings.arrayJoin(blog.blogTags, ', ') : ''}"/>
                    </div>
                    <br/>
                    <!--最近使用过的标签-->
                    <!--博客元信息-->
                    <!--元信息: 当前标题文字数, 当前文章字数, 当前已选中标签 创建时间-->
                    <div id="publish-meta">
                        <div class="navbar-toggler"><span class="oi oi-bookmark"></span> 博客信息</div>
                        <hr/>
                        <ul>
                            <li><span>标题字数: </span><span id="title-words">20</span></li>
                            <li><span>正文字数: </span><span id="docs-words">100</span></li>
                            <li><span>创建时间: </span><span id="create-time">[[${#dates.format(new java.util.Date(), 'M-d hh:mm:ss')}]]</span>
                            </li>
                        </ul>
                    </div>
                    <!--一些简单的文字提示-->
                    <!--博客指南：标签功能指南, 标题文字限制, 文章最少文字数, 封面图设置指南-->
                    <div id="publish-tip">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#ftco-publish-tips" aria-controls="ftco-publish-tips"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="oi oi-tags"></span> 博客提示
                        </button>
                        <div class="collapse navbar-collapse" id="ftco-publish-tips">
                            <hr/>
                            <p>欢迎使用我们的博客发布功能!以下是一些关于写博客提示:)</p>
                            <ol>
                                <li>标题请限制在20字以内</li>
                                <li>文章最少字数在100字以上</li>
                                <li>发布前可设置封面图片</li>
                                <li>发布前可设置标签</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>

<div th:replace="~{commons/Footer::subscriber}"></div>

<div th:replace="~{commons/Footer::webFooter}"></div>
<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}"/>

<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
<script type="text/javascript">
    const E = window.wangEditor;
    const editor = new E('#editor');
    editor.config.height = 666;

    const $blog_text = $('#blogContent');
    editor.config.onchange = function (html) {
        $blog_text.val(html)
    };
    const $tagsEditor = $('#tagEditor');
    const $tags = $('#blogTags');
    $tagsEditor.change(function () {
        $tags.val($tagsEditor.val());
        console.log($tags.val());
    });
    editor.create();
</script>
</html>