<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{})}">
    <title>轻旅·预定机票</title>
</head>
<body>


<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='Flight')}"></div>
<!-- END nav -->


<div th:replace="~{commons/BG::sectionBG(sectionName='Flight')}"></div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="col-12 text-center">
                    <h2 class="mb-3">预定信息</h2>
                </div>
                <div class="col-12 text-center">
                    <h4 class="mb-3">预定路线</h4>
                    <h1><span class="icon icon-map-marker"></span> [[${flight.flightToString}]] ----><span
                            class="icon icon-map-marker"></span> [[${flight.flightFromString}]]</h1>
                </div>
                <div class="col-12 text-center">
                    <h4><span>预定日期:</span>[[${#dates.format(flight.flightDepart, 'yyyy-M-d')}]]</h4>
                    <h2 th:if="${flight.flightStatus >= 3}"><span>起飞时间:</span>[[${#dates.format(flight.flightDepart,
                        'HH:mm:ss')}]]</h2>
                </div>
                <div class="col-12 text-center">
                    <h4>预定状态</h4>
                    <div th:if="${flight.flightStatus == 1}"><p>尚未付费</p></div>
                    <div th:if="${flight.flightStatus == 2}"><p>等待预约机票</p></div>
                    <div th:if="${flight.flightStatus  >= 3}">
                        <h3><span>预定机票信息</span></h3>
                        <div th:each="ticket,stat:${flight.flightTickets}">
                            <p>test</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--当订单状态处于未支付时展示下面内容，使用户有权限进行支付-->
            <div th:if="${flight.flightStatus == 1}" class="row block-9">
                <div class="col-md-6 order-md-last pr-md-5">
                    <form method="post" th:action="@{/flight/pay/}" onsubmit="return checkPassword()">
                        <input id="flightId" name="flightId" type="hidden" th:value="${flight.flightId}">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary py-3 px-5" value="支付"/>
                            <!--                        <input type="submit" value="支付" class="btn btn-primary py-3 px-5">-->
                        </div>
                    </form>
                    <form th:action="@{'/flight/' + ${flight.flightId}}" method="post">
                        <input name="_method" type="hidden" value="delete"/>
                        <div class="form-group">
                            <button type="submit" onclick="return checkCancel()" class="btn btn-danger py-3 px-5">取消
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>

<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}"/>
<!--加入订单支付脚本数据-->
<script type="text/javascript" th:inline="javascript">
    function checkCancel() {
        return confirm("确认要取消预约吗？") === true;
    }

    function checkPassword() {
        const password = prompt("输入支付密码:");
        var checkTimes = 0;
        return $.ajax({
            type: "POST",
            url: "/checkPassword",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "userPassword": password,
            }),
            success: function (response) {
                if (response.code === 200) {
                    //密码正确
                    //弹出回复成功浮动框消息(数秒后自动消失)
                    alert("密码正确");
                    return true;
                } else {
                    alert(response.message);
                    checkTimes += 1;
                    if (checkTimes >= 3) {
                        alert("输入超过三次错误, 请确认个人密码再次尝试");
                        return false;
                    }
                    checkPassword();
                }
            }, error: function () {
                return false;
            }
        });
    }
</script>

</body>
</html>