<!-- todo 该页面要合并到order单页中去，省的浪费一个DTO和页面来把整个系统弄得太复杂-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{ })}">
    <title>轻旅·订单</title>
</head>
<body>

<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='Hotels')}"></div>
<!-- END nav -->


<div th:replace="~{commons/BG::sectionBG(sectionName='Orders')}"></div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12">
                <h2 class="h4">订单确认</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
                <input type="hidden" id="hotelId" name="hotelId" th:value="${order.hotelId}">
                <input type="hidden" id="userId" name="userId" th:value="${session.user.userId}">
                <p><span>酒店名称:</span><span th:text="${order.hotel.hotelName}"></span></p>
            </div>
            <div class="col-md-12">
                <div class="col-md align-items-end">
                    <div class="form-group">
                        <div id="checkInLabel" class="form-field">
                            <div class="icon"><span class="icon-calendar"></span><label>入住时间</label></div>
                            <input type="text" id="checkIn" class="form-control checkin_date" placeholder="Check In"
                                   th:value="${#dates.format(order.checkIn, 'yyyy-M-d')}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md align-items-end">
                    <div class="form-group">
                        <div id="checkOutLabel" class="form-field">
                            <div class="icon"><span class="icon-calendar"></span><label>离店时间</label></div>
                            <input type="text" id="checkOut" class="form-control checkout_date" placeholder="Check Out"
                                   th:value="${#dates.format(order.checkOut, 'yyyy-M-d')}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p><span>预定内容:</span></p>
                <div th:each="room:${order.details}">
                    <input id="roomId" th:value="${room.roomId}" type="hidden">
                    <p><span>房间名称:</span><span th:text="${room.roomName}"></span></p>
                    <p><span>房间单价:</span><span id="price" th:text="${room.roomPrice}"></span></p>
                    <p><span>房间属性:</span></p>
                    <p><span>有无WIFI:</span><span th:text="${room.roomWifi == 1}?'有':'无'"></span></p>
                    <p><span>床型:</span></p>
                    <p th:each="bed:${room.beds}"><span
                            th:text="${bed.bedCount} + '张' + ${bed.bedName}"></span></p>
                    <p><label>预定数(最大预订数:[[${room.roomRemaining}]])</label></p>
<!--                    <button id="min" class="btn btn-primary" type="button">-</button>-->
                    <button class="btn btn-primary" type="button" th:onclick="'javascript:changeCount(0, ' + ${room.roomRemaining} + ');'">-</button>
                    <input id="roomCount" type="number" th:value="${room.roomCount}" th:onkeyup=""/>
                    <button class="btn btn-primary" type="button" th:onclick="'javascript:changeCount(1, ' + ${room.roomRemaining} + ');'">+</button>
                </div>
            </div>
            <div class="col-md-12">
                <h5><label>总价</label>
                    <p id="total" th:text="${order.total} + '(入住' + ${order.days} + '天)'"></p></h5>
            </div>
            <div class="col-md-12">
                <button type="button" onclick="submitOrder()">确认订单</button>
            </div>
        </div>
    </div>
</section>


<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>

<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}"/>
<script th:inline="javascript">
</script>
<script th:src="@{/js/hotel-order.js}"></script>
<script th:inline="javascript">
    $(function () {
        $("#checkIn").change(function () {
            var checkIn = $(this).val();
            var checkOut = $("#checkOut").val();
            if (Date.parse(checkOut) - Date.parse(checkIn) <= 0){
                const date = new Date(Date.parse(checkOut) - (24 * 3600 * 2000));
                // console.log(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay());
                $(this).val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay());
            }
            updateTotal();  //显示总金额
        });
        $("#checkOut").change(function () {
            var checkIn = $("#checkIn").val();
            var checkOut = $(this).val();
            if (Date.parse(checkOut) - Date.parse(checkIn) <= 0){
                const date = new Date(Date.parse(checkIn));
                // console.log(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay());
                $(this).val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay());
            }
            updateTotal();  //显示总金额
        });
    });
</script>
</body>
</html>