<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{::link})}">
    <title>轻旅·酒店</title>
    <link rel="stylesheet" th:href="@{/css/custom/AutoCollapse.css}">
</head>
<body>

<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='hotels')}"></div>
<!-- END nav -->

<div th:replace="~{commons/BG::sectionBG(sectionName='Hotels')}"></div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <!--筛选模块-->
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <!-- 查找特定城市中的酒店 -->
                    <h3 class="heading mb-4">Find Hotels</h3>
                    <form id="search" name="search" method="post" th:action="@{/hotels}">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" id="keyword" name="keyword"
                                       class="form-control" placeholder="关键字搜索"
                                       th:value="${search != null}?${search.keyword}:null">
                            </div>


                            <div class="form-group">
                                <div style="position: relative;">

                                    <label for="address">酒店地址</label>
                                    <!-- 二级地址选择器 -->
                                    <input id="address" style="border: 1px solid #e6e6e6;" class="form-control"
                                           name="address" type="text" data-toggle="city-picker" placeholder="请选择省/市"
                                           data-level="city" th:value="${search != null}?${search.address}:null">

                                    <!-- 三级地址选择器 -->
<!--                                    <input class="form-control" style="border: 1px solid #e6e6e6;" name="test"-->
<!--                                           type="text" data-toggle="city-picker" placeholder="请选择省/市">-->
                                </div>
                            </div>



<!--                            <div class="form-group">-->
<!--                                &lt;!&ndash; 地址选择 &ndash;&gt;-->
<!--                                <div class="select-wrap one-third">-->
<!--                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>-->
<!--                                    <select name="city" id="city" class="form-control" placeholder="目标城市">-->
<!--                                        <option value="">Select Location</option>-->
<!--                                        <option value="">San Francisco USA</option>-->
<!--                                        <option value="">Berlin Germany</option>-->
<!--                                        <option value="">Lodon United Kingdom</option>-->
<!--                                        <option value="">Paris Italy</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" id="checkin_date" class="form-control checkin_date"-->
<!--                                       placeholder="Date from">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" id="checkout_date" class="form-control checkout_date"-->
<!--                                       placeholder="Date to">-->
<!--                            </div>-->
                            <!-- 金额拖动栏 -->
                            <div class="form-group">
                                <div class="range-slider">
		              		        <span>
                                    <!-- 文字金额标识 -->
									    <input type="number" id="minPrice" name="minPrice"
                                               placeholder="最低" min="0" max="2000"
                                               th:value="${search != null}?${search.minPrice}:null"/>	-
                                        <input type="number" id="maxPrice" name="maxPrice"
                                               placeholder="最高" min="0" max="2000"
                                               th:value="${search != null}?${search.maxPrice}:null"/>
							        </span>
                                    <!-- 拖动栏 -->
                                        <input value="200" min="0" max="2000" step="100" type="range"/>
                                        <input value="600" min="0" max="2000" step="100" type="range"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="搜索" class="btn btn-primary py-3 px-5">
                                <br>
                                <input type="button" value="重置" onclick="clearInput()" class="btn btn-info py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <!-- 筛选结束 -->
                <!-- 页面内评分星级筛选 -->
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">星级评分</h3>
                    <form method="post" class="star-rating">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rate5">
                            <label class="form-check-label" for="rate5">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                                </p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rate4">
                            <label class="form-check-label" for="rate4">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rate3">
                            <label class="form-check-label" for="rate3">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rate2">
                            <label class="form-check-label" for="rate2">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star-o"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rate1">
                            <label class="form-check-label" for="rate1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END -->
            <!-- 展示列表模块 -->
            <div class="col-lg-9">
                <div class="row">
					<!-- 酒店展示单块 -->
                    <div th:replace="~{commons/section::hotelBlock(isIndex = false)}">
					<!--酒店展示单块结束-->
                    <!--静态展示单块-->
                </div>
                <!-- 分页页码展示块 -->
            </div>
            <div class="col-lg-9" th:replace="~{commons/navigation::navigationBar(redirect = 'hotels')}"></div>
        </div>
    </div>
</section> <!-- .section -->

<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>


<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>
<th:block th:replace="~{commons/includes/common_js::common_js}" />
<script type="text/javascript" th:inline="javascript">
    if ([[${search != null}]]){
        console.log("test");
        $(".navigationHref").click(function () {
            $('#search').attr('action',this.href);
            console.log("action is " +  this.href);
            this.href = "javascript:vo(0);";
            $('#search').submit();
            return false;
        });
    }
    function clearInput() {
        $('#minPrice').val('');
        $('#maxPrice').val('');
        $('#keyword').val('');
        $('#address').citypicker("reset");
    }
    $('#address').citypicker();
</script>

<!-- 地址选择器引用的js -->
<link rel="stylesheet" th:href="@{/css/city-picker.css}"/>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/city-picker.data.js}"></script>
<script th:src="@{/js/city-picker.js}"></script>




<!--&lt;!&ndash;-->

<!--<script th:src="@{/js/jquery.min.js}"></script>-->
<!--<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>-->
<!--<script th:src="@{/js/popper.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/js/jquery.easing.1.3.js}"></script>-->
<!--<script th:src="@{/js/jquery.waypoints.min.js}"></script>-->
<!--<script th:src="@{/js/jquery.stellar.min.js}"></script>-->
<!--<script th:src="@{/js/owl.carousel.min.js}"></script>-->
<!--<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>-->
<!--<script th:src="@{/js/aos.js}"></script>-->
<!--<script th:src="@{/js/jquery.animateNumber.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap-datepicker.js}"></script>-->
<!--<script th:src="@{/js/jquery.timepicker.min.js}"></script>-->
<!--<script th:src="@{/js/scrollax.min.js}"></script>-->

<!--<script th:src="@{/js/google-map.js}"></script>-->
<!--<script th:src="@{/js/main.js}"></script>-->

<!--&ndash;&gt;-->
</body>
</html>