<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{::link})}">
    <title>轻旅·主页</title>
    <link rel="stylesheet" th:href="@{/css/Blogs.css}">
</head>
<body>

<div th:replace="~{commons/bar::topBar(activeUri='index')}"></div>
<!-- END nav -->

<div th:replace="~{commons/BG::indexBG}"></div>
<!-- END BG -->

</section>
<!-- 最受欢迎的酒店 介绍列 -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4"><strong>Popular</strong> Hotels</h2>
            </div>
        </div>
    </div>
    <!-- 酒店单块列表 -->
    <div class="container-fluid">
        <div class="row">
            <!-- 酒店单块 -->
            <div th:replace="~{commons/section::hotelBlock(isIndex=true)}"></div>
        </div>
    </div>
</section>

<!-- 博客 介绍列 -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <!-- tips -->
                <h2><strong>Tips</strong> &amp; Articles</h2>
            </div>
        </div>
        <!-- 博客列表 -->
        <div class="row d-flex">
            <div th:replace="~{commons/section::blogBlock}"></div>
        </div>
    </div>
</section>

<div th:replace="~{commons/Footer::subscriber}"></div>

<footer th:replace="~{commons/Footer::webFooter}"></footer>


<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}" />
<script type="text/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if(closable === "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
</body>
</html>