<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{})}">
    <title>轻旅·联系我们</title>
</head>
<body>


<!--重用topBar-->
<div th:replace="~{commons/bar::topBar(activeUri='Order')}"></div>
<!-- END nav -->


<div th:replace="~{commons/BG::sectionBG(sectionName='Order')}"></div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">订单信息</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>酒店:</span>[[${order.hotel.hotelName}]]</p>
                <p><span>酒店电话:</span>[[${order.hotel.hotelPhone}]]</p>
            </div>
            <div class="col-md-3">
                <p><span>预定内容:</span></p>
                <div th:each="room:${order.details}">
                    <p><span>房间名称:</span><span th:text="${room.roomName}"></span></p>
                    <p><span>房间单价:</span><span id="price" th:text="${room.roomPrice}"></span></p>
                    <p><span>房间属性:</span></p>
                    <p><span>有无WIFI:</span><span th:text="${room.roomWifi == '1'}?'有':'无'"></span></p>
                    <p><span>床型:</span></p>
                    <p th:each="bed:${room.beds}"><span th:text="${bed.bedCount} + '张' + ${bed.bedName}"></span></p>
                    <p><label>预定数:</label><span id="roomCount" type="text" th:text="${room.roomCount}"></span></p>
                </div>
            </div>
            <div class="col-md-3">
                <p><span>入住时间:</span>[[${#dates.format(order.checkIn, 'yyyy-M-d')}]]</p>
                <p><span>离店时间:</span>[[${#dates.format(order.checkOut, 'yyyy-M-d')}]]</p>
            </div>
        </div>
        <!--当订单状态处于未支付时展示下面内容，使用户有权限进行支付-->
        <div th:if="${order.status == '0'}" class="row block-9">
            <div class="col-md-6 order-md-last pr-md-5">
                <form method="post" th:action="@{/order/pay}" onsubmit="return checkPassword()">
                    <input id="orderId" name="orderId" type="hidden" th:value="${order.orderId}">
                    <input id="userId" name="userId" type="hidden" th:value="${session.user.userId}">
                    <input id="hotelId" name="hotelId" type="hidden" th:value="${order.hotelId}">
                    <input id="total" name="money" type="hidden" th:value="${order.total}">
                    <input id="userMoney" type="hidden" th:value="${userMoney}">
                    <input id="userPassword" type="hidden" name="userPassword">

<!--                    <div class="form-group">-->
<!--                        <label>用户真实姓名:</label>-->
<!--                        <input id="name" name="name" type="text" class="form-control" placeholder="Your Name">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>电话:</label>-->
<!--                        <input id="phone" name="phone" type="text" class="form-control" placeholder="Your Phone">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>预定到达时间:</label>-->
<!--                        <input id="arrived" name="arrived" type="text" class="form-control" placeholder="When Arrived">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>备注信息:</label>-->
<!--                        <textarea name="note" id="note" cols="30" rows="7" class="form-control"-->
<!--                                  placeholder="Note"></textarea>-->
<!--                    </div>-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5">支付</button>
<!--                        <input type="submit" value="支付" class="btn btn-primary py-3 px-5">-->
                    </div>
                </form>
            </div>
        </div>
        <div th:if="${order.status == '0'}">
            <form method="post" th:action="@{/order/cancel}">
                <input name="orderId" type="hidden" th:value="${order.orderId}">
                <div class="form-group">
                    <button type="submit" onclick="return checkCancel()" class="btn btn-secondary py-3 px-5" >取消</button>
                </div>
            </form>
        </div>
        <div th:if="${order.status == '1'}">
            <form method="post" th:action="@{/order/unPay}">
                <input  name="orderId" type="hidden" th:value="${order.orderId}">
                <input  name="userId" type="hidden" th:value="${session.user.userId}">
                <input  name="hotelId" type="hidden" th:value="${order.hotelId}">
                <input  name="money" type="hidden" th:value="${order.total}">
                <div class="form-group">
                    <button type="submit" onclick="return checkCancelMoney()" class="btn btn-secondary py-3 px-5" >退款</button>
                </div>
            </form>
        </div>
        <div th:if="${order.status == '1'}"><p>已支付，等待用户入住</p></div>
        <div th:if="${order.status == '2'}"><p>已入住</p></div>
        <div th:if="${order.status == '3'}"><p>已离店，等待用户评价</p></div>
        <div th:if="${order.status == '4'}"><p>订单结束</p></div>
    </div>
</section>


<!--重用-->
<div th:replace="~{commons/Footer::subscriber}"></div>
<!--End Subscribe-->

<!--重用footer-->
<footer th:replace="~{commons/Footer::webFooter}"></footer>

<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}" />
<!--加入订单支付脚本数据-->
<script th:src="@{/js/hotel-pay.js}"></script>
<script>
    function checkCancel() {
        return confirm("确认要取消订单吗？") === true;
    }

    function checkCancelMoney() {
        return confirm("确认要退款吗？") === true;
    }
    function checkPassword() {
        const password = prompt("输入支付密码:");
        if(password === null){
            return false;
        }
        $('#userPassword').val(password);
        let checkTimes = 0;
        return $.ajax({
            async: false,
            type: "POST",
            url: "/checkPassword",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "userPassword": password,
            }),
            success: function (response) {
                if (response.code === 200) {
                    //密码正确
                    //弹出回复成功浮动框消息(数秒后自动消失)
                    alert("密码正确");
                    checkPay();
                    return true;
                } else {
                    alert(response.message);
                    checkTimes += 1;
                    if (checkTimes >= 3) {
                        alert("输入超过三次错误, 请确认个人密码再次尝试");
                        window.location.reload();
                        return false;
                    }
                    checkPassword();
                }
            }, error: function () {
                return false;
            }
        });
    }

    function checkPay(){
        const userMoney = parseFloat($('#userMoney').val());
        const money = parseFloat($('#total').val());
        const userId = $('#userId').val();
        if(userMoney < money){
            alert("余额不足, 请充值！");
            window.location.href = "user/" + userId;
        }

    }
</script>
</body>
</html>