<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap With Spring Boot</title>
		<!-- Bootstrap core CSS -->
		<link href="#" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
		<!-- Custom styles for this template -->
		<link href="#" rel="stylesheet" th:href="@{/asserts/css/signin.css}">

	</head>

	<body class="text-center">

		<form class="form-signin" th:action="@{/user/register}" method="post" onsubmit="return checkDuplicate()">
			<img alt="" class="mb-4" height="72" th:src="@{/asserts/img/bootstrap-solid.svg}" width="72" >

			<h1 class="h3 mb-3 font-weight-normal" th:text="#{register.tip}">Please sign up</h1>

            <p id="usernameSpan" style="color:red"></p>
			<label class="sr-only" th:text="#{login.usercode}">Usercode</label>
			<input id="userCode" type="text" name="userCode" class="form-control" th:placeholder="#{login.usercode}" required="" autofocus="">

			<label class="sr-only" th:text="#{login.username}">Username</label>
			<input type="text" name="username" class="form-control" th:placeholder="#{login.username}" required="" autofocus="">

			<label class="sr-only" th:text="#{login.password}">Password</label>
			<input type="password" name="password" class="form-control" th:placeholder="#{login.password}" required="">

			<button class="btn btn-lg btn-primary btn-block btnPlus" type="submit" th:text="#{register.btn}">Sign Up</button>
			<a class="hrefBtn" th:href="@{/toLogin}">
				<button class="btn btn-lg btn-primary btn-block btnPlus" type="button" th:text="#{login.btn}">Sign In</button>
			</a>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
		</form>

		<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
		<script type="text/javascript">
			function checkDuplicate()
			{
				var f = false;
				var usercode = document.getElementById("usernameSpan");
				// javascript所有的变量都是以var定义的
				// javascript的变量属于弱类型
				// 获取用户输入的用户名
				var code = document.getElementById("userCode").value;
				//去除字符串两端空格
				code = code.trim();
                alert("test2:"+code);
				//判断是否为空
				if(code === "")
				{
                    usercode.innerHTML ="用户名不能为空";
					f = false;
				}
				else if(code.length < 6 || code.length > 16)
				{
                    usercode.innerHTML = "用户名的长度为6-16位";
					f = false;
				}
				else
				{
                    usercode.innerHTML = "";
					//校验用户名是否存在
					//使用ajax异步校验用户名
                    alert("jumpToCheck : " + code);
					$.ajax({
						url: "/checkName",
						type: "post",
						data: {"userCode" : code},//json数据格式的用户名从jsp传递给controller
						dataType: "json",
                        contentType: "application/json",
						async: false, //让ajax执行代码顺序同步
						//在网页中请求时无法获得结果，转入error，但直接请求能够返回json结果
                        success: function(data)
						{
							if(data.msg==="true")
							{
                                usercode.innerHTML = "用户名可用";
								f=true;
							}
							else
							{
                                usercode.innerHTML = "用户名已存在";
								f=false;
							}
						},
                        error:function (data) {
                            console.log("errorMsg : " + data);
                        }
					});
				}
				if(usercode.innerHTML.length === 0)
				    usercode.style.display = "none";
				else
				    usercode.style.display = "visible";
				return f;
			}
		</script>
	</body>

</html>