<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/includes/common_head::common_head(~{::title},~{::link})}">
    <title>轻旅·用户</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>

<body>

<div th:replace="~{commons/bar::topBar(activeUri='User')}"></div>

<div th:replace="~{commons/BG::userBG(userName=${info.userName}, avatar=${info.userAvatarUri})}"></div>
<!--
 todo
    修改：
    当info.userId == session.userId,
    显示跳转编辑按钮, 才能跳转至此编辑页面,
    否则(info.userId != session.userId), 默认为展示界面, 不可进入此修改页面
-->
<section class="ftco-section">
    <div class="container">
        <div>
            <div class="row">
                <!-- 个人信息栏 -->
                <section class="col-lg-9 col-md-9 col-xs-12 ftco-animate">
                    <div class="col-lg-12 border" style="margin-bottom: 15px;">
                        <h3 class="text-center">个人信息</h3>
                        <!-- 个人信息面板 -->
                        <div class="col-lg-9 col-md-9 col-xs-12 media sidebar">
                            <img th:src="@{'/img/' + ${info.userAvatarUri}}" class="align-self-center mr-3 rounded"
                                 width="70px">
                            <div class="media-body text-center sidebar">
                                <h4 th:text="${info.userName}"></h4>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12" style="padding: 15px 0;">
                            <span th:text="'性别:' + ${(info.userGender==1)?'男':'女'}"></span>
                            <br/>
                            <span th:text="'电话:' + ${info.userPhone}"></span>
                            <br/>
                            <span th:text="'邮箱:' + ${info.userEmail}"></span>
                            <br/>
                            <span th:text="'余额:' + ${money}"></span>
                        </div>
                    </div>
                </section>
                <div class="col-lg-3 col-md-12 col-xs-12 sidebar ftco-animate">
                    <ul class="list-group">
                        <li class="list-group-item"><a th:href="@{/userModify/} + ${info.userId}">修改信息</a></li>
                        <li class="list-group-item">
                            <a href="javascript:vo(0);" class="userHotelOrders">我的订单</a>
                            <form id="order" name="order" method="post" th:action="@{/orders}">
                                <input name="userId" th:value="${session.user.userId}" hidden="hidden">
                                <input type="submit" value="我的酒店" hidden="hidden">
                            </form>
                        </li>
                        <li class="list-group-item"><a href="#">我的机票</a></li>
                        <li class="list-group-item">
                            <a href="javascript:vo(0);" class="userBlogs">我的博客</a>
                            <form id="blog" name="blog" method="post" th:action="@{/blogs}">
                                <input name="userId" th:value="${session.user.userId}" hidden="hidden">
                                <input type="submit" value="我的博客" hidden="hidden">
                            </form>
                        </li>
                        <li class="list-group-item"><a th:href="@{/blog/publish}">发布博客</a></li>
                    </ul>
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMoneyModel">充值</button>
                    <!-- Modal -->
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade" id="addMoneyModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: auto">
    <form th:action="@{/addMoney}" th:method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        老板大气，加钱
                    </h4>
                    <button type="button" class="close" onclick="clearUser()" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                        <input name="userId" th:value="${session.user.userId}" hidden="hidden">
                        <input type="text" name="money" placeholder="请输入金额">
                        <input type="password" name="password" placeholder="请输入密码">
                </div>
                <div class="modal-footer">
                    <!--调用user.js方法-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        给钱
                    </button><span id="tip"> </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="~{commons/Footer::subscriber}"></div>

<div th:replace="~{commons/Footer::webFooter}"></div>
<!-- loader -->
<div th:replace="~{commons/Footer::loader}"></div>

<th:block th:replace="~{commons/includes/common_js::common_js}" />
<script th:src="@{/js/manage.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(".userHotelOrders").click(function () {
    $('#order').submit();
});
$(".userBlogs").click(function () {
    $('#blog').submit();
});
</script>
</body>
</html>